function Random.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push pointer 0
call Random.rand 1
pop this 0
push constant 0
pop this 1
push pointer 0
return
function Random.rand 0
push argument 0
pop pointer 0
push this 0
push constant 20251
add
pop this 0
push this 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 32767
sub
push constant 1
sub
pop this 0
label IF_FALSE0
push this 0
return
function Random.randRange 2
push argument 0
pop pointer 0
push constant 1
pop local 0
label WHILE_EXP0
push local 0
push argument 1
lt
not
if-goto WHILE_END0
push local 0
push constant 2
call Math.multiply 2
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
call Random.rand 1
push local 0
and
pop local 1
push this 1
push constant 1
add
pop this 1
label WHILE_EXP1
push local 1
push argument 1
gt
not
if-goto WHILE_END1
push pointer 0
call Random.rand 1
push local 0
and
pop local 1
push this 1
push constant 1
add
pop this 1
push local 1
push pointer 0
call Random.getShift 1
and
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 1
return
function Random.getShift 1
push argument 0
pop pointer 0
push this 1
push constant 1
add
pop this 1
push this 1
pop local 0
label WHILE_EXP0
push local 0
push constant 9
gt
not
if-goto WHILE_END0
push local 0
push constant 9
sub
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 0
return
function Random.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Random.addCallTime 0
push argument 0
pop pointer 0
push this 1
push argument 1
add
pop this 1
push constant 0
return
